@font-face {
    font-family: 'museo_sans_rounded100';
    src: url('fonts/museosansrounded-100-museo.eot');
    src: url('fonts/museosansrounded-100-museo.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosansrounded-100-museo.woff2') format('woff2'),
         url('fonts/museosansrounded-100-museo.woff') format('woff'),
         url('fonts/museosansrounded-100-museo.ttf') format('truetype'),
         url('fonts/museosansrounded-100-museo.svg#museo_sans_rounded100') format('svg');
    font-weight: normal;
    font-style: normal;

}

:root {
	--font-main:'museo_sans_rounded100', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	transition: all .3s ease-in-out;

}
a{
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}


body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main Styles */
body{
	font-family: var(--font-main);
}
body:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url('../images/img/bg1.png');
	background-size: cover;
	opacity:.5;
	pointer-events: none;
	z-index: -1;
}
body:after{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url('../images/img/bg2.png');
	background-size:cover;
	background-repeat: no-repeat;
	opacity:1;
	pointer-events: none;
	background-color: #c5c5c8;
	z-index: -2;
}
.container{
	margin: 32vh auto;
	width: 690px;
	height: 390px;
	box-shadow: 0 0 65px rgba(0, 0, 0, 0.82);
	border-radius: 10px;
	background-color: #111a28;
}
.header{
	width: 100%;
	height: 80px;
	padding: 3.5% 3.5% 3.05% 3.05%;
}
.header__logo{
	width: 65px;
	height: 33px;
	display: block;
}
.header__logo-img{
	/* object-fit: fill; */
}
.content{
	width: 100%;
	height: calc(100% - 80px);
}
.product{
	width: 61%;
	height: calc(100% - 21px);
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	float: left;
}
.product__image {
    margin: 30px 0;
    overflow: hidden;
    transition: top 2s;
    width: 100%;
    height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.product__image-img{
  margin: 70px 0;
  max-width: 329px;
  height: 280px;
  object-fit: contain;

}
#slider-image-1:target ~ .image-holder
      {
          top: 0px;
      }
#slider-image-2:target ~ .image-holder
       {
          top: -800px;
       }

#slider-image-3:target ~ .image-holder
      {
          top: -1600px;
       }
#slider-image-4:target ~ .image-holder
      {
           top: -2400px;
       }
.product__list{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
	width: 16%;
	height: 12px;
}

.product__list-items{
	background: lightgray;
	height: 10px;
	width: 10px;
	border-radius: 50%;
  border: 1px solid lightgray;
}
.product__list-items:nth-child(1){
	background: #1f273f;
}
.product__list-items:nth-child(2){
	background: #ffffff;
}
.product__list-items:nth-child(3){
	background: #ed3333;
}
.product__list-items:nth-child(4){
	background: #29e3ea;
}
.product__list-items:hover{
	transition: all .2s;
	transform: scale(2);
}

.description{
	width: 39%;
	height: calc(100% - 80px);
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	float: right;
}
.item{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left:25px;
}
.item__name{
	width: 180px;
	height: 70px;
	color: #e1e1e1;
	font-family: var(--font);
	font-size: 24px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.48px;
}
.item__info{
	width: 180px;
	height: 20px;
	opacity: 0.54;
	color: #e1e1e1;
	font-family: var(--font);
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.28px;
}
/*_STARS_____________________________________________________*/

  .item__ratig {
    display: inline-flex;
  }

	.rating__input {
    position: absolute !important;
    left: -9999px !important;
   }

  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 12px;
  }

  .rating__icon--star {
    color: Gold;
  }

  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  .rating-group:hover .rating__label .rating__icon--star {
    color: Gold;
  }

  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
     color: #eee;
  }


	/*_Buttons_____________________________________________________*/
.button__wraper{
	display: flex;
	flex-direction:row;
}
.item__button{
	width: 69px;
	height: 32px;
	border: 1px solid rgba(255, 255, 255, .26);
	background-color: #111a28;
}

.item__button--qty{
	margin-left: 3px;
}
.item__button--text{
	width: 100%;
	height: 100%;
	color: rgba(225, 225, 225, 0.28);
	font: var(--font);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.28px;
}
.item__cart .button__cart{
	width: 184px;
	height: 40px;
	border: 1px solid rgba(255, 255, 255, .26);
	background-color: rgba(17, 26, 40, 0.26);
}
.item__button:hover{
	background-color: #4c525a;
}
